*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/*VARIABLES*/
:root {
--primaryColor:#6d28d9;
--secondaryColor:#ede9fe;
--mainBlack:#222;
--bodyColor:#f6f6f6;
--mainGray:#7c7c7c;
--secondaryGray:#ccc;
--mainWhite:#ffff;
--mainSpacin:0.5rem;
--mainTransation: all 0.3s linear;;

}

body{
background: var(--bodyColor);
color: var(--mainBlack);
display: flex;
flex-direction: column;
align-items: center;
}

header{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form-container{
    display: flex;
}
.todo-container{
    margin-top: 1rem;
    width: 25rem;

}

form{
    width: 25rem;
    background:var(--mainWhite);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--secondaryGray);
    overflow:hidden;
}

form input{
    flex: 1;
    font-weight: bold;
}

form input,
form button{
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    padding: 0.5rem;
}

form button{
    color: var(--primaryColor);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover{
    background: var(--primaryColor);
    color: var(--mainWhite);

}

.todo{
    background: var(--mainWhite);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3 ease;
    display:flex ;

}

.todo .todo__title{
    color: var(--primaryColor);
    flex: 1;
    font-weight: bold;
}
.todo button{
display: block;
font-size: 1rem;
padding: 0.5rem;
cursor: pointer;
background-color: transparent;
}

.fa-trash-alt{
    color:#db2777;
}
.fa-check-square{
    color:var(--primaryColor);
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
    
}

select{
    appearance: none;
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    color:var(--primaryColor);
}
.select{
    margin-left: 1rem;
    background:#fff;
    position: relative;
    cursor: pointer;
    width: 10rem;
    font-weight: bold;
    border: 2px solid var(--secondaryGray);
    border-radius: 0.5rem;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    color:var(--primaryColor) ;
    pointer-events: none;
}

button{
   border: none; 
   outline: none;
}

button > i{
    pointer-events: none;
}